body {

    display: flex;    
    justify-content: center;
    align-items: center;
    background-color: gray;
    
}

.container {

    gap: 8px;
    margin-top: 300px;
    
}

.firstSect {

    background-color: white;
    padding: 5px;
    color: #3882F6;
    font-size: 40px;
    font-weight: 300;
    font: bolder;

}

.secondSect {

    color: #F9FAF8;
    background-color: #1f2937;


}

.smaller-1 {

    margin-bottom: 25px;

}

.bigger-1 {

    font: boler;
    font-size: 48px;
    margin-bottom: 25px;
    
}

.smaller-3 {

    margin-bottom: 25px;

}

.bigger-2 {

    font-size: 24px;
    color: #F9FAF8;
    
}

.smaller-4 {

    margin-bottom: 10px;

}

.thirdSect {

    background-color: white;

}

.part1 {

    margin-top: 10px;

}

.part2 {

    margin-bottom: 20px;
    color:#3882F6;
}

.part4 {

    font-size: 36px;
    font-weight: extra bold;
    margin-bottom: 20px;

}

.fourthSect {

    background-color: #E5E7EB;

}

.section2 {

    margin-bottom: 10px;

}

.section4 {

    font-size: 36px;
    margin-bottom: 20px;

}